[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
channels = "*"
channels-redis = "*"
mysqlclient = {path = "./mysqlclient-1.4.6-cp37-cp37m-win32.whl"}
requests = "*"

[requires]
python_version = "3.7"
